<!-- user avatar and intro -->
  <%= render partial: "shared/profile/user_info" %>
<!-- user detail -->
<div class="container">
  <div class="row">
<!-- profile lebel -->
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <%= link_to "My Post", user_path %>
      </li>
      <li role="presentation">
        <%= link_to "My Comment", mycomments_user_path %>
      </li>
      <% if @user == current_user %>
        <li role="presentation">
          <%= link_to "My Collect" %>
        </li>
        <li role="presentation">
          <%= link_to "My Draft", mydrafts_user_path %>
        </li>
        <li role="presentation">
          <%= link_to "My Friend" %>
        </li>
      <% end %>            
    </ul>
    <br>
<!-- profile content -->
<div class="container">
  <div class="row">
    <div class="container">
      <table class="table">
        <tbody>
         <% @posts.each do |post| %>     
          <tr>
            <td><%= post.title %></td>
            <td><%= "Published" if post %></td>
            <td><%= post.created_at.strftime('%Y-%m-%d') %></td>
            <% if post.user == current_user %>
            <td>
              <%= link_to "Edit", edit_post_path(post) %>
              <%= link_to "Delete", post_path(post), method: :delete, data: {confirm: "Are you sure?"} %>  
            </td> 
            <% end %>             
          </tr>
         <% end %>
        </tbody>
      </table>   
    </div>
  </div>
</div>
<!-- new post btn -->
<br>
    <%= render partial: "shared/btn/btn_new_post" %>
  </div><!-- row -->
</div><!-- container -->
