<!-- user avatar and intro -->
  <%= render partial: "shared/profile/user_info" %>
<!-- user detail -->
<div class="container">
  <div class="row">
<!-- profile lebel -->
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <%= link_to "My Post" %>
      </li>
      <li role="presentation">
        <%= link_to "My Comment" %>
      </li>
      <li role="presentation">
        <%= link_to "My Collect" %>
      </li>
      <li role="presentation">
        <%= link_to "My Draft" %>
      </li>
      <li role="presentation">
        <%= link_to "My Friend" %>
      </li>            
    </ul>
<!-- profile content -->
<div class="container">
  <div class="row">
    <div class="container">
      <table class="table">
        <% @posts.each do |post| %>
            <tbody>
              <tr>
                <td><%= post.title %></td>
                <td><%= "post status" %></td>
                <td><%= post.created_at.strftime('%Y-%m-%d') %></td>              
              </tr>
            </tbody>
        <% end %>
      </table>   
    </div>
  </div>
</div>
<!-- new post btn -->
<br>
    <%= render partial: "shared/btn_new_post" %>
  </div><!-- row -->
</div><!-- container -->
