<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Post ID</th>
        <th>
          <%= sort_link(@q, :replies_count, 'Replies count', default_order: :desc) %>
        </th>
        <th>Title</th>
        <th>
          <%= sort_link(@q, :updated_at, 'Last replied at', default_order: :desc) %>    
        </th>
        <th>
          <%= sort_link(@q, :viewed_count, 'Viewed count',default_order: :desc) %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.id %></td>
          <td><%= post.comments.size %></td>
          <td><%= link_to post.title, post_path(post) %></td>
          <td>
            <%= post.comments.last.created_at.strftime('%Y-%m-%d') %>
          </td> 
          <td><%= post.viewed_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
