<div class="container">
  <div class="row text-center">
    <div class="col-md-4">
      <h1>User</h1>
    </div>
    <div class="col-md-4">
      <h1>Post</h1>
    </div>
    <div class="col-md-4">
      <h1>Comment</h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <h1><%= @user_count %></h1>
    </div>
    <div class="col-md-4">
      <h1><%= @post_count %></h1>
    </div>
    <div class="col-md-4">
      <h1><%= @comment_count %></h1>
    </div>
  </div>
  <br>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading text-center">Chatterbox</div>
            <div class="panel-body">
              <table class="col-md-12">
                  <% i = 0 %>
                  <% @popular_users.each do |user| %>
                    <tr>
                      <td class="col-md-4 text-center"><%= i += 1 %></td>
                      <td class="col-md-4 text-center"><%= user.name %></td>
                      <td class="col-md-4 text-center"><%= user.user_count %></td>
                    </tr>
                  <% end %>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading text-center">Most Popular Post</div>
            <div class="panel-body">
              <table class="col-md-12">
                  <% i = 0 %>
                  <% @popular_posts.each do |post| %>
                    <tr>
                      <td class="col-md-4 text-center"><%= i += 1 %></td>
                      <td class="col-md-4 text-center"><%= post.title %></td>
                      <td class="col-md-4 text-center"><%= post.created_at.strftime('%Y-%m-%d') %></td>
                    </tr>
                  <% end %>
              </table>
            </div>
          </div>          
        </div>
    </div>
</div>