<div class="row-top">
  <div class="index-title">
  <h1>Site Name</h1>
  </div>
</div>
<div class="row-padding">
<!-- category button -->
<ul class="nav nav-pills">
  <li class="active"><%= link_to "All", root_path %></li>
  <% @categories.each do |category| %>
   <li><%= link_to category.name,category_path(category) %></li>
  <% end %>
</ul>
<!-- 顯示post -->
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Replies count</th>
        <th>Title</th>
        <th>Last replied at</th>
        <th>Viewed count</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td scope="row"><%= post.replies_count %></td>
          <td><%= link_to post.title, post_path(post) %></td>
          <td><%= post.created_at.strftime('%Y-%m-%d') %></td> 
          <td><%= post.viewed_count %></td>
          <td><%= link_to 'Show', post_path(post) %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Delete', post_path(post), method: :delete, data: {confirm:"Are you sure?"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <!-- kaminari -->
  <%= paginate @posts %>
</div>

