<div class="row-top">
  <div class="index-title">
    <h1><%= @post.title %></h1>
  </div>
</div>
<div class="container">
  <div class="media">
<!-- post -->
    <div class="row">
      <div class="col-md-3">
        <%= image_tag @post.user.avatar.url, width: "100px", height: "100px" if @post.user.avatar? %>
        <div>
          <%= link_to @post.user.name , user_path(@post.user) %>
        </div>
      </div>
<!-- right -->
      <div class="col-md-9">
        <div class="form-group">
          <%= image_tag @post.image.url , width: "400px", hight: "300px" if @post.image? %>
          <%= link_to 'Back to index', posts_path %>
          <p class="text-muted">
            <%= @post.description  %>
            <div>
              <% if @post.user == current_user || current_user.admin? %>
                <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>  
              <% end %>
              <% if @post.user == current_user %>
                <%= link_to "Edit", edit_post_path(@post) %>
              <% end %>           
            </div>
          </p>
        </div>
      </div>
    </div><!-- col-md-9 -->
<!-- show comment -->
    <% @comments.each do |comment| %>
      <div class="row">
          <div class="col-md-3">
            <%= image_tag comment.user.avatar.url, width: "100px", height: "100px" if comment.user.avatar? %>
            <div>
              <%= link_to comment.user.name, user_path(comment.user) %>
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <p class="text-muted">
                <%= comment.created_at %>
                [<%= comment.id %>]
                <%= simple_format comment.content, class: "text-muted" %> 
                <div class="form-group" style="text-align: right;">
                <%if comment.user == current_user %>
                  <%= link_to "Edit", post_path(id: @post.id,c_id: comment.id) %>
                  <%= link_to "Delete", post_comment_path(@post, comment), method: :delete %>
                <% end %> 
                </div>        
              </p>
            </div>
          </div>
      </div>
    <% end %>
  
<!-- create comment -->
<br>
 <div class="form-group">
  <%= form_for [@post, @comment] do |f| %>
    <div class="form-group">
      <p><%= f.text_area :content, placeholder: "Say somethings...", class: "form-control" %></p>
    </div>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
  </div> 
    <!-- kaminari -->
  <%= paginate @comments %> 
     
  </div><!-- media -->
</div><!-- container -->