<div class="row-top">
  <div class="index-title">
  <h1>Site Name</h1>
  </div>
</div>
<div class="row-padding">
<!-- category button -->
<ul class="nav nav-pills">
  <li><%= link_to "All", root_path %></li>
    <% @categories.each do |category| %>
  <li class="<%="active" if category == @category%> ">
    <%= link_to category.name,category_path(category) %>
  </li>
  <% end %>
</ul>
<!-- 顯示post -->
  <%= render partial: "shared/posts_list" %>
  <!-- kaminari -->
  <%= paginate @posts %>
</div>